.text-center{
  position: absolute;
  top: 30%;
  left: 30%;

  .heading-primary--main {
    position: absolute;
    color: $color-light;
    letter-spacing: 30px;
    font-size: 50px;
    z-index: 1;
    animation: primary--main 2s;
  }

  .heading-primary--top {
    position: absolute;
    left: 450px;
    color: $color-light;
    z-index: 1;
    letter-spacing: 30px;
    font-size: 50px;
    animation: primary--top 2s;
  }

  .heading-primary--bottom {
    margin-top: 70px;
    left: 20px;
    color: $color-light;
    z-index: 1;
    position: absolute;
    letter-spacing: 20px;
    font-size: 50px;
    animation: primary--bottom 2s;
  }
}
.text-center-2{
  position: absolute;
  top: 15%;
  left: 11%;
  .heading-text{
    font-size: 2.9rem;
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 2s;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 500;
    background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
    &:hover{
      transform: skewX(15deg) skewY(2deg) scale(1.1);
    }
  }
}
.col-1-of-2{
  .heading-text-2{
    text-transform: uppercase;
    opacity: 60%;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }
  .paragraph{
    font-size: 16px;
    opacity: 70%;
    &:not(:last-child){
      margin-bottom: 3rem;
    }
  }
  .btn-text{
    &:link,
    &:visited{
      color: $color-primary-dark;
      text-decoration: none;
      transition: all .3s;
      display: inline-block;
      border-bottom: 1px solid $color-primary-dark;
      padding: .3rem;
      font-size: 1rem;
    }
    &:hover{
      color: white;
      background-color: $color-primary-dark;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }
    &:active{
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }
  }
}