$color-light: white;  //oq
$color-primary-dark: #00b09bbe; //toq yashil
$color-primary-light: #96c93dc0; //och yashil
$color-red: red; //qizil
$color-black: black;
$margin-bottom: 4rem;
$row-width: 80rem;
$horizontal-gutter: 8rem;
$color-grey-light: #f7f7f7;